@mixin backgroundColor($num, $bg) {
    &:nth-child(#{$num}) {
       background-color: $bg;

        &:focus,
        &:active {
            outline: none;
            background-color: darken( $bg, 10% );
        }

    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.xylo {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 100%;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }

}

.button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;

    @include backgroundColor(1, #00ccff);
    @include backgroundColor(2, #ffff00);
    @include backgroundColor(3, #00ff00);
    @include backgroundColor(4, #fa0096);
    @include backgroundColor(5, #0f4295);
}