html {
    background: #333;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.xyloBorder {
    box-sizing: border-box;
    display: flex;
    border: 10px solid #fff;
    background: #fff;
    width: 480px;
    height: 480px;
    max-height: calc(100vh - 60px);
    max-width: calc(100vw - 15px);
}

.xyloButton {
    border: 0;
    outline: 0;
    cursor: pointer;
    flex: 1 0 auto;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.xyloButton:active {
    opacity: 0.8;
}

.xyloButton1 {
    background: #0cf;
}

.xyloButton2 {
    background: #ff0;
}

.xyloButton3 {
    background: lime;
}

.xyloButton4 {
    background: #fa0096;
}

.xyloButton5 {
    background: #0f4295;
}

@media (max-width: 480px) {
    .xyloBorder {
        max-height: calc(100vw - 30px);
    }
}
