html {
    background: #333;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.xylo {
    box-sizing: border-box;
    display: flex;
    border: 10px solid #fff;
    background: #fff;
    width: 480px;
    height: 480px;
}

.xylo .btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    flex: 1 0 auto;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.xylo .btn:active {
    opacity: 0.8;
}

.xylo .btn1 {
    background: #0cf;
}

.xylo .btn2 {
    background: #ff0;
}

.xylo .btn3 {
    background: lime;
}

.xylo .btn4 {
    background: #fa0096;
}

.xylo .btn5 {
    background: #0f4295;
}

@media (max-width: 480px) {
    .xylo {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
}
